<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JSON</title>
        <link rel="stylesheet" href="../style.css"/>
        <div id="banner"></div>
        <nav>
            <a href="index.html">Home</a>
            <a href="index2.html">Approfondimenti</a>
            <a href="index3.html">Tabella</a>
            <a href="index4.html">Modifica utenti</a>
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <form @submit.prevent="addUser" v-if="!editingUser" id="newUser">
                <h2>Inserisci un nuovo utente:</h2><br>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" v-model="newUser.nome" required>
                <br>
                <label for="cognome">Cognome:</label>
                <input type="text" id="cognome" v-model="newUser.cognome" required>
                <br>
                <button type="submit">Aggiungi</button>
            </form>


            <form v-if="editingUser" @submit.prevent="saveUser" id="modUser">
                <h2>Modifica Utente:</h2><br>
                <label for="nome">Nome:</label>
                <input type="text" v-model="editingUser.nome" required>
                <br>
                <label for="cognome">Cognome:</label>
                <input type="text" v-model="editingUser.cognome" required>
                <br>
                <button type="submit">Salva</button>
                <button @click="cancelEdit">Annulla</button>
            </form>
            <button @click="downloadJSON" id="downJSON">Download JSON</button>

            <table id="tableUser">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Modifica</th>
                    <th>Elimina</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users">
                    <td>{{ user.nome }}</td>
                    <td>{{ user.cognome }}</td>
                    <td><button @click="editUser(user)">Modifica</button></td>
                    <td><button @click="deleteUser(user)">Elimina</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <script src="../js/user.js"></script>
        <script src="../users.json"></script>
        <footer id="ft4">
            <h3>Progetto ideato da: Cappella Filippo, Luca Vignali, Tommaso Conti<br>
                Fonti: Amazon AWS, Sparkfabrik, Wikipedia, JSONPlaceholder</h3>
        </footer>
    </body>
</html>